.cat-pic {
    margin: 0 auto;
    img {
        height: 300px;
    }
}

.cat-profile-pic {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background: magenta;
    @include border-radius(50%);

    img {
        height: 100%;
        width: auto;
        @include center-img();
    }
}

.cat-pic {
     position: relative;
     overflow: hidden;
     height: 400px;
     width: 400px;

     img {
         height: 100%;
         @include center-img();
     }
}
